{% extends "layout.html" %}
{% block content %}

<h1>Dernières sorties</h1>
<div class="video-grid">
    {% for video in videos_recents[:10] %}
    <div class="video-card" data-video-id="{{ video.id }}">
        <a href="{{ video.lien }}" target="_blank">
            <img src="{{ video.thumbnail }}" alt="{{ video.titre }}">
        </a>
        <p class="titre">{{ video.titre }}</p>
        <p class="source">📰 {{ video.media }}</p>
        <p class="date">📅 {{ video.date }}</p>
    </div>
    {% endfor %}
</div>

<hr>

<h1>Par orientation</h1>
{% for orientation, videos in videos_par_orientation.items() %}
    <h2>{{ orientation }}</h2>
    <div class="video-grid">
        {% for video in videos %}
        <div class="video-card" data-video-id="{{ video.id }}">
            <a href="{{ video.lien }}" target="_blank">
                <img src="{{ video.thumbnail }}" alt="{{ video.titre }}">
            </a>
            <p class="titre">{{ video.titre }}</p>
            <p class="source">📰 {{ video.media }}</p>
            <p class="date">📅 {{ video.date }}</p>
        </div>
        {% endfor %}
    </div>
{% endfor %}

{% endblock %}